<a href="https://colab.research.google.com/github/samucale/DATA-SCIENCE-COM-PROF-WALISSON/blob/main/Aula_11_Criando_e_Removendo_Colunas_do_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Aula 11 - Criando e Removendo Colunas do DataFrame**

In [ ]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_excel('/content/drive/MyDrive/Colab ciencia de dados /arquivodetreino/pesoaltura.xlsx')

In [7]:
df.head

<bound method NDFrame.head of     Unnamed: 0  Massa Coporal (kg)  Altura (cm)
0            0                  72          180
1            1                  80          170
2            2                  60          175
3            3                  90          190
4            4                 100          195
5            5                 110          200
6            6                 120          165
7            7                 130          155
8            8                 140          182
9            9                 150          173
10          10                 160          192
11          11                  10          193
12          12                  30          210
13          13                  40          198
14          14                  50          199
15          15                  17          188
16          16                  19          179
17          17                 190          176
18          18                 200          177
19          19                 350          172
20          20                 410          169>

In [ ]:
df.shape

(21, 3)

In [ ]:
Idade  = np.random.randint(17,30,60)

In [ ]:
Idade

array([22, 22, 21, 20, 21, 24, 28, 29, 25, 18, 22, 25, 18, 20, 20, 27, 20,
       18, 23, 18, 22, 23, 25, 25, 19, 22, 19, 20, 28, 27, 21, 28, 27, 25,
       23, 29, 25, 20, 27, 22, 20, 23, 28, 22, 17, 17, 26, 17, 28, 17, 22,
       18, 25, 19, 24, 20, 28, 17, 29, 26])

In [ ]:
df['Idade']=Idade

ValueError: ignored

In [ ]:
df.head()

   Unnamed: 0  Massa Coporal (kg)  Altura (cm)  Idade
0           0                  72          180     25
1           1                  80          170     25
2           2                  60          175     25
3           3                  90          190     25
4           4                 100          195     25

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
df = pd.read_excel('/content/drive/MyDrive/Colab ciencia de dados /arquivodetreino/pesoaltura.xlsx')

In [6]:
df.head

<bound method NDFrame.head of     Unnamed: 0  Massa Coporal (kg)  Altura (cm)
0            0                  72          180
1            1                  80          170
2            2                  60          175
3            3                  90          190
4            4                 100          195
5            5                 110          200
6            6                 120          165
7            7                 130          155
8            8                 140          182
9            9                 150          173
10          10                 160          192
11          11                  10          193
12          12                  30          210
13          13                  40          198
14          14                  50          199
15          15                  17          188
16          16                  19          179
17          17                 190          176
18          18                 200          177
19          19                 350          172
20          20                 410          169>

**TREINANDO**

In [9]:
import pandas as pd

In [10]:
import numpy as np

In [14]:
df = pd.read_excel('/content/drive/MyDrive/Colab ciencia de dados /arquivodetreino/pesoaltura.xlsx')

In [15]:
df.head

<bound method NDFrame.head of     Unnamed: 0  Massa Coporal (kg)  Altura (cm)
0            0                  72          180
1            1                  80          170
2            2                  60          175
3            3                  90          190
4            4                 100          195
5            5                 110          200
6            6                 120          165
7            7                 130          155
8            8                 140          182
9            9                 150          173
10          10                 160          192
11          11                  10          193
12          12                  30          210
13          13                  40          198
14          14                  50          199
15          15                  17          188
16          16                  19          179
17          17                 190          176
18          18                 200          177
19          19                 350          172
20          20                 410          169>

In [16]:
df.shape

(21, 3)

***ADICIONANDO COLUNAS NO DATASET***

In [18]:
import numpy as np

In [19]:
import pandas as pd

In [32]:
from random import choice

In [22]:
df = pd.read_excel('/content/drive/MyDrive/Colab ciencia de dados /arquivodetreino/pesoaltura.xlsx')

In [23]:
df.head

<bound method NDFrame.head of     Unnamed: 0  Massa Coporal (kg)  Altura (cm)
0            0                  72          180
1            1                  80          170
2            2                  60          175
3            3                  90          190
4            4                 100          195
5            5                 110          200
6            6                 120          165
7            7                 130          155
8            8                 140          182
9            9                 150          173
10          10                 160          192
11          11                  10          193
12          12                  30          210
13          13                  40          198
14          14                  50          199
15          15                  17          188
16          16                  19          179
17          17                 190          176
18          18                 200          177
19          19                 350          172
20          20                 410          169>

In [24]:
df.shape

(21, 3)

In [27]:
idade = np.random.randint(17,40,21)

In [28]:
idade

array([21, 36, 34, 36, 20, 38, 37, 23, 21, 27, 21, 17, 36, 25, 27, 25, 30,
       36, 18, 24, 18])

In [29]:
df['idade']= idade

In [30]:
df.head

<bound method NDFrame.head of     Unnamed: 0  Massa Coporal (kg)  Altura (cm)  idade
0            0                  72          180     21
1            1                  80          170     36
2            2                  60          175     34
3            3                  90          190     36
4            4                 100          195     20
5            5                 110          200     38
6            6                 120          165     37
7            7                 130          155     23
8            8                 140          182     21
9            9                 150          173     27
10          10                 160          192     21
11          11                  10          193     17
12          12                  30          210     36
13          13                  40          198     25
14          14                  50          199     27
15          15                  17          188     25
16          16                  19          179     30
17          17                 190          176     36
18          18                 200          177     18
19          19                 350          172     24
20          20                 410          169     18>

***CRIANDO LISTAS ALEATORIAS NO DATASET***

In [34]:
choice (['M','F'])

'M'

In [35]:
sexo = [choice(['M','F'])for i in range(21)]

In [36]:
sexo

['F',
 'F',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F']

In [37]:
df['sexo']=sexo

In [38]:
df

    Unnamed: 0  Massa Coporal (kg)  Altura (cm)  idade sexo
0            0                  72          180     21    F
1            1                  80          170     36    F
2            2                  60          175     34    M
3            3                  90          190     36    M
4            4                 100          195     20    F
5            5                 110          200     38    F
6            6                 120          165     37    F
7            7                 130          155     23    F
8            8                 140          182     21    F
9            9                 150          173     27    M
10          10                 160          192     21    F
11          11                  10          193     17    M
12          12                  30          210     36    M
13          13                  40          198     25    M
14          14                  50          199     27    M
15          15                  17          188     25    M
16          16                  19          179     30    F
17          17                 190          176     36    F
18          18                 200          177     18    F
19          19                 350          172     24    F
20          20                 410          169     18    F

***REMOVENDO COLUNAS DO DATASET***

In [47]:
df.drop('Unnamed: 0',axis=1)

KeyError: ignored

In [45]:
df

    Massa Coporal (kg)  Altura (cm)  idade sexo
0                   72          180     21    F
1                   80          170     36    F
2                   60          175     34    M
3                   90          190     36    M
4                  100          195     20    F
5                  110          200     38    F
6                  120          165     37    F
7                  130          155     23    F
8                  140          182     21    F
9                  150          173     27    M
10                 160          192     21    F
11                  10          193     17    M
12                  30          210     36    M
13                  40          198     25    M
14                  50          199     27    M
15                  17          188     25    M
16                  19          179     30    F
17                 190          176     36    F
18                 200          177     18    F
19                 350          172     24    F
20                 410          169     18    F